header {
  background-color: rgb(192 191 255);
  padding: 10px;
}
.menu-btn {
  color: white !important;
}
.menu-btn:hover {
  color: #7569b0 !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.sidenavicon {
  width: 7%;
}
.sidenavicon:hover {
  cursor: pointer;
}

.user-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}
.user-icon:hover {
  cursor: pointer;
}
.icon {
  width: 120px;
}
