header {
  background-color: rgb(155, 106, 187);
  padding: 10px;
}
.menu-btn {
  color: wheat !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.sidenavicon {
  width: 7%;
}
.sidenavicon:hover {
  cursor: pointer;
}

.user-icon {
  border-radius: 50%;
  width: 40px;
  opacity: 0.8;
}
.user-icon:hover {
  cursor: pointer;
}
