<h2 class="title-text">ثبت نام</h2>
<form
  class="d-flex flex-column register-form"
  [formGroup]="reactiveForm"
  (submit)="onSubmit(reactiveForm)"
>
  <mat-form-field>
    <mat-label>نام </mat-label>
    <input matInput minlength="3" maxlength="100" formControlName="name" />

    @if (reactiveForm.get('name')?.hasError('required')) {
    <mat-error>نام نمی تواند خالی باشد</mat-error>
    } @if (reactiveForm.get('name')?.hasError('minlength')) {
    <mat-error>نام نمی تواند کمتر از ۳ حرف باشد</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>کدملی </mat-label>
    <input matInput minlength="10" maxlength="10" formControlName="codeMeli" />

    @if (reactiveForm.get('codeMeli')?.hasError('required')) {
    <mat-error>کدملی نمی تواند خالی باشد</mat-error>
    }@if(reactiveForm.get('codeMeli')?.hasError('codeMeliValidator')){<mat-error
      >کدملی نامعتبر </mat-error
    >}
  </mat-form-field>

  <mat-form-field>
    <mat-label>نام کاربری</mat-label>
    <input matInput minlength="3" maxlength="100" formControlName="userName" />

    @if (reactiveForm.get('userName')?.hasError('required')) {
    <mat-error>نام کاربری نمی تواند خالی باشد</mat-error>
    }@if (reactiveForm.get('userName')?.hasError('minlength')) {
    <mat-error>نام کاربری نمی تواند کمتر از ۳ حرف باشد</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label class="padding-input-rtl">تاریخ تولد</mat-label>
    <input
      class="padding-input-rtl"
      matInput
      minlength="2"
      maxlength="10"
      [matDatepicker]="picker"
      name="birthday"
      formControlName="birthDate"
    />

    @if (reactiveForm.get('birthDate')?.hasError('required')) {
    <mat-error>تاریخ تولد نمی تواند خالی باشد</mat-error>
    }
    <mat-hint>روز/ماه/سال</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>رمز عبور</mat-label>
    <input matInput minlength="6" formControlName="password" />

    @if (reactiveForm.get('password')?.hasError('required')) {
    <mat-error>رمز عبور نمی تواند خالی باشد</mat-error>
    }@if (reactiveForm.get('password')?.hasError('minlength')) {
    <mat-error>رمز عبور نمیتواند کمتر از ۶ حرف باشد </mat-error>
    }
  </mat-form-field>

  <input
    type="file"
    formControlName="profilePicture"
    (change)="onFileChange($event)"
    style="display: none"
  />

  <section>
    <button
      mat-flat-button
      color="primary"
      class="mx-auto"
      [disabled]="reactiveForm.invalid"
    >
      ثبت نام
    </button>
  </section>
  <a routerLink="/login" class="text-center mt-3">
    ثبت نام کرده اید؟ وارد شوید</a
  >
</form>
