.title-text {
  text-align: center;
  margin-bottom: 0;
  margin-top: 30px;
}
.register-form {
  max-width: 30%;
  margin: 30px auto 0 auto;
  direction: rtl;
}

@media (max-width: 576px) {
  .register-form {
    max-width: 100%;
  }
}

button {
  display: block;
}

.padding-input-rtl {
  padding-right: 15px !important;
}

::ng-deep .mat-calendar {
  direction: rtl;
}
