* {
  direction: rtl;
}
mat-form-field {
  width: 100%;
}
.user-icon {
  border: 2px solid #b3b3b3;
  margin: 10px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
}
.container {
  max-width: 900px;
}
.pic-container {
  position: relative;
}
.camera-icon {
  width: 50px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  right: 137px;
  top: 134px;
}
.camera-icon:hover {
  cursor: pointer;
}
.file-name {
  margin-top: 15px;
}
