* {
  direction: rtl;
  text-align: right;
}
::ng-deep .mat-mdc-paginator-page-size {
  direction: ltr;
}
td {
  text-align: right;
}
.cursorPointer {
  cursor: pointer;
}
secton {
  overflow-x: auto;
}
::ng-deep .mat-elevation-z8 {
  overflow-x: auto;
}
/* app.component.css */
.fade-in-box {
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 5px 5px 5px rrgb(88, 88, 88);
}
.fade-in-box:hover {
  transform: scale(1.1);
}
.card-body {
  background: #f9f5ff;
}
button:not(:disabled) {
  background-color: #7569b0 !important;
  color: white !important;
}
