mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  width: 50%;
  padding-top: 30px;
}
.icon {
  width: 10%;
}
button {
  text-align: end;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
