<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="d-flex flex-column">
      <button mat-button class="menu-btn" routerLink="/home">
        خانه
        <img
          src="https://cdn-icons-png.flaticon.com/512/25/25694.png"
          alt="homeicon"
          class="icon"
        />
      </button>

      <button
        mat-button
        class="menu-btn"
        routerLink="/login"
        *ngIf="!isLogedin"
      >
        ورود
        <img
          src="https://cdn-icons-png.flaticon.com/512/5509/5509636.png"
          alt="homeicon"
          class="icon"
        /></button
      ><button mat-button class="menu-btn" routerLink="/task" *ngIf="isLogedin">
        وظایف
        <img
          src="https://cdn-icons-png.flaticon.com/512/5391/5391628.png"
          alt="homeicon"
          class="icon"
        />
      </button>
      <button
        mat-button
        class="menu-btn"
        routerLink="/home"
        *ngIf="isLogedin"
        (click)="onExit()"
      >
        خروج
        <img
          src="https://cdn-icons-png.flaticon.com/512/992/992680.png"
          alt="homeicon"
          class="icon"
        />
      </button></div
  ></mat-sidenav>
  <mat-sidenav-content
    ><app-header></app-header>

    <div class="container">
      @defer(on timer(2s)) {
      <router-outlet></router-outlet>
      }@placeholder {
      <ng-container [ngSwitch]="currentRoute">
        <div *ngSwitchCase="'home'" class="placeholder-glow m-5">
          <div class="d-block mx-auto text-center mt-5">
            <h1
              class="placeholder col-2 placeholder-lg"
              style="
                width: 160px;
                display: block;
                margin: auto;
                margin-bottom: 10px;
              "
            ></h1>

            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>

            <a
              href="#"
              tabindex="-1"
              style="
                width: 150px;
                background-color: #7569b0;
                display: block;
                margin: auto;
                margin-top: 10px;
              "
              class="btn btn-primary disabled placeholder col-6"
            ></a>

            <h1
              class="placeholder col-2 placeholder-lg"
              style="
                width: 160px;
                display: block;
                margin: auto;
                margin-top: 100px;
              "
            ></h1>
          </div>
        </div>
        <p *ngSwitchCase="'login'" class="card-text placeholder-glow m-5">
          <span class="placeholder col-5"></span>
        </p>
        <p *ngSwitchCase="'option'" class="card-text placeholder-glow m-5">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
      </ng-container>
      } @loading {
      <p>Loading...</p>
      }@error { Something went wrong :( }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
