<div class="d-block mx-auto text-center mt-5">
  <h1>برنامه <span class="themeColor">ردیاب زمان</span></h1>

  <h4 class="subtitle">
    ما یک ابزار کارآمد برای رهگیری زمان و مدیریت وظایف فراهم کرده‌ایم که به شما
    کمک می‌کند تا بهره‌وری خود را افزایش دهید و کارهای خود را به بهترین نحو
    مدیریت کنید.
  </h4>
  <button class="homebtn" routerLink="/task" mat-flat-button>
    کنترل زمان را به دست بگیرید
  </button>
</div>
<div class="pt-5">
  <h2>ویژگی‌های کلیدی</h2>
  <div class="container d-flex flex-row">
    <div class="row ps-5">
      <div class="col-12 col-md-5 col-lg-2 feature">
        <h4>
          رهگیری دقیق زمان: زمان صرف شده برای هر وظیفه را به طور دقیق ثبت و
          ذخیره کنید.
        </h4>
      </div>
      <div class="col-12 col-md-5 col-lg-2 feature">
        <h4>
          مدیریت وظایف: وظایف خود را به راحتی ایجاد و تاریخ شروع هر کدام را
          ذخیره کنید.
        </h4>
      </div>
      <div class="col-12 col-md-5 col-lg-2 feature">
        <h4>
          رابط کاربری ساده: با رابط کاربری ساده و کاربرپسند ما، به راحتی وظایف
          خود را مدیریت کنید.
        </h4>
      </div>
      <div class="col-12 col-md-5 col-lg-2 feature">
        <h4>
          گزارش‌دهی: گزارش‌های جامع و دقیق از زمان صرف شده بر روی هر وظیفه
          دریافت کنید.
        </h4>
      </div>
    </div>
  </div>
</div>
